<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titre %}Ecommerce Phone - By Keley{% endblock %}</title>
        <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />

        <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="{{ asset('https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                  {# Brand and toggle get grouped for better mobile display #}
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Administration de Ecomerce Phone!</a>
                  </div>

                  {# Collect the nav links, forms, and other content for toggling #}
                  <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="{{path('product_index')}}">Products <span class="sr-only">(current)</span></a></li>
                      <li><a href="{{path('category_index')}}">Category</a></li>
                      <li class="dropdown">
                    {# {{ knp_menu_render('AppBundle:Builder:mainMenu') }} #}
                      {# {{ knp_menu_render('AcmeHelloBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'AcmeHelloBundle:Menu:knp_menu.html.twig'}) }} #}
                      {# {{ knp_menu_render('AcmeHelloBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'AcmeHelloBundle:Menu:knp_menu.html.twig'}) }} #}
                  </div>
              </div>
          </div>
            <div class="content" style="margin-top: 60px;">
                {% block body %}{% endblock %}
        </div>

        <hr />
    <footer id="footer" class="vspace20">
            <div class="container">
            <div class="row">
                <div class="span4">
                    <p>&copy; Copyright 2016 - Keley</p>
                </div>
            </div>
    </footer>
        {# TODO : use local file with assetic config #}
        <script   src="http://code.jquery.com/jquery.js" crossorigin="anonymous"></script>
        <script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
