{% extends 'base.html.twig' %}

{% block body %}
    {#  Filtring block #}
    <div class="">
            <div class="col-md-6">
                <form action="{{path('filter_by_tag')}}" method="post" accept-charset="utf-8">
                    <div class="col-md-6">
                        <ul> Filtrer :
                            {% for cat in categories %}
                                <li><input type="checkbox" name="cat[]" value="{{cat.name}}">{{cat.name}}</input></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <ul> Tri par :
                        <li><input type="checkbox" name="tri[]" value="Prix"/>Prix</li>
                        <li><input type="checkbox" name="tri[]" value="Poids"/>Poids</li>
                    </ul>

                    <input class="btn pull-right" type="submit" value="GO"></input>
                </form>
            </div>
            <div class="col-md-6">
                <form action="{#{path('search')}#}" method="post" accept-charset="utf-8">
                    <input type="text" value="" placeholder="rechercher"></input>
                    <input type="button" value="Ok"></input>
                </form>
            </div>
        </form>
    </div>
    <div id="wrapper">
        <div id="container">
            <table class="table" id="products_index">
                <caption>Ecomerce phone</caption>
                <tbody>
                    {% for p in products %}
                        <tr>
                             <td><img src="{{asset(p.getWebPath)}}"/></td>
                            <td>{{p.description}} <br>
                                {% for cat in p.category %}
                                    {{cat}},
                                {% endfor %}
                            </td>
                            <td>{{p.price}} euros</td>
                            <td>{{p.weight}} kg</td>
                            <td><a href="#">En savoir plus</a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{# deplace it to another file #}
<script type="text/javascript">
    $(document).ready(function() {
        $('#products_index').dataTable();
    });
</script>
{% endblock %}
